<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Johan Hentze Svenden is an engineer with a passion for coding, dynamice, machine learning and optimization.
	  He has previous experience working in Scuderia Ferrari, as a Performance Methodology Engineer and before this
	  has worked with Massive Motorsport as a Data Engineer.
	  He has a Bachelors in Automtive Engineering from Brighton University, to which he build upon with a Master in
	  Motorsport Engineering from Oxford Brookes University. Throughout these he has also had Leadership roles inside
	  of the univesity's Formula Student teams, which led to Oxford Brookes achieving top UK team and 2nd place overall
	  at the FSUK competetion.
      
	  To see some of my work check out:
      <a href="{{ site.nav.main.writing }}">writing</a> and
      <a href="{{ site.nav.main.projects }}">projects</a>
  
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
