<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I am software engineer from Denmark with several years of experience working with coding and software engineering in a host of different roles and application both abroad and in Denmark. I am passionate about good coding practices and writing maintainable code, with testing to back it up. I have worked with several coding languages and have worked with back end, front end and machine learning.
	    To see some of my work check out:
      <a href="{{ site.nav.main.writing }}">writing</a> and
      <a href="{{ site.nav.main.projects }}">projects</a>
  
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
